#flex {
    height: 600px;
    width: 80%;
    background-color: rgb(149, 162, 173);
    margin: 10px auto;
    border: 2px solid black;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    /*flex-wrap:wrap;*/
    align-content: flex-start;
    align-self: flex-start;
}
#flex div {
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;
    
}
.violet {
    align-self: flex-end;
}


/*#flex {
    height: 200px;
    width: 100px;
    background-color: pink;
    margin: 20px;
    border: 2px solid black;
    display: inline-block;

}
#flex {
     height: 200px;
     width: 700px;
     text-align: center;
     margin: 30px;
     text-decoration: underline;
     margin-top: 50px;
     padding: 30px;
     border-radius: 80%;
     position: absolute;
     top: 100px;
     left: 250px;
     background-color: pink;
     border: 2px solid black;
} */