*{
    background-color: whitesmoke;
}

.outer {
    height: 50px;
    width: 900px;
    display: flex;
    border: 2px solid black;
    background-color: pink;
    border-radius: 10px;
    align-content: center;
    justify-content: flex-start;
    margin: 10px auto;

}
.opnion {
    height: 50px;
    width: 80px;
    font-size: 24px;
    margin-left: 10px;
    background-color: wheat;
    border-radius: 10px;
    line-height: 50px;
}
.opnion:hover {
    background-color: rgb(171, 121, 61);
    transition: 1s;
    transition-delay: 1s;
    margin-left: 20px;
    transform: rotate(360deg);
}